{% extends 'base.html' %}
{% block title %}About Page{% endblock %}

{% block tohen %}

    <h1>About Me</h1>
    {% if user_info %}
        <div class="container">
        <h2>User Info</h2>
        <br>
            {% for title, value in user_info.items() %}
                <h3>{{ title }}: {{ value }}</h3>
            {% endfor %}
    </div>
    <div class="container">
        <h2>User Degrees</h2>
        <ol>
            {% for degree in user_degrees %}
                <li>
                    <h3>{{ degree | upper() }} degree</h3>
                </li>
            {% endfor %}
        </ol>
    </div>
    <div class="container">
        <h2>User Hobbies</h2>
        <ul>
            {% for hobbie in hobbies %}
                <li>{{ hobbie }}</li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <h3>No info. Please log in.</h3>
    {% endif %}
{% endblock %}