<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% set title='InDeX' %}
    <title>{{ title }} Page</title>
    {% include('styles.html') %}
</head>
<body>
    {% include('header.html') %}
    {% if user_name %}
        <h1>Welcome, {{ user_name | default('Stranger', true) | upper() }}!</h1>
    {% else %}
        <h1>Please log in!</h1>
    {% endif %}
    <h2 class="{% if user_name %}loggedin{% else %}no_user{% endif %}">Check</h2>
    {% include('footer.html') %}
</body>
</html>