
{% extends 'base.html' %}

{% block title %}Log In Page{% endblock %}

{% block tohen %}


    {% if session['logedin'] %}
        <h1>Welcome, {{ session['username'] | upper() }}</h1>
    {% else %}
        <h1>Welcome to Log-In Page</h1>
        {% if message %}
            <h2>{{ message }}</h2>
        {% endif %}
        <h2>Login Form:</h2>
        <form action="/log_in" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit">
        </form>
    {% endif %}

{% endblock %}









{#{% extends 'index.html' %}#}
{##}
{#{% block header %}#}
{#        {% set page_name = 'Log In Page' %}#}
{#        {% include('header.html') %}#}
{#{% endblock %}#}
{##}
{#{% block Main %}#}
{#    <form method="POST" action="/log_in">#}
{#        <input name="username" type="text" placeholder="name">#}
{#        <input name="lastname" type="text" placeholder="last name">#}
{#        <input type="submit">#}
{#    </form>#}
{#{% endblock %}#}